RewriteEngine On
RewriteCond %{REQUEST_METHOD} ^TRACE
RewriteRule .* - [F]
RewriteRule (.*)/index.html$ index.php?$1
RewriteRule (.*)/index(\d+).html$ index.php?$1&page=$2
RewriteRule (.*)/(\d+)\.html$ index.php?$1/$2
RewriteRule (.*)/index.html\?(.*) index.php?$1&$2
RewriteRule (.*)/index(\d+).html\?(.*) index.php?$1&page=$2&$3

	 
	 
	 
	 
